@model IEnumerable<SOPORTEE.Models.degrees>

@{
    ViewBag.Title = "Index2";
  
}

<h2>List of Degrees</h2>

<p>
    @Html.ActionLink("Create New", "Agregar")
</p>

<form asp-controller="Degrees" asp-action="Index2">
    <p>
        search for name: <input type="text" name="buscar">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <tr>
        <th>
            Degrees
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.degrees1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Editar", new { id=item.id }) |
          
            @Html.ActionLink("Delete", "Eliminar", new { id=item.id }, new { @class = "aElimina" })
        </td>
    </tr>
}

</table>


@section scripts{ <!--no jalo esto-->
    <script>
        $(".aElimina").click(function (event) {   //al hacerle click pregunta
            if (confirm('Estás seguro de eliminar?') == false) {
                    event.preventDefault();
                }
            });
    </script>
}